body {
font-family: fantasy;
width: 100%;
}
.container-General{
    gap: 100px 50px;
    padding: 100px 50px;
width: 100%;
}
.container{
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;  
}


/*.gallery-card .card{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 300px;
    height: 260px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 35px 80px #c6c4c4;
    transition: 0.5s;
  }*/
  .container-General h2{
    font-family: fantasy;
    padding: 10px;
    color:rgba(74, 73, 73, 0.937);
    font-size: 3em;
    text-align: left;
   /* transition:2s;*/
  }
  .container-General  li {
    display: inline;
    color:rgba(34, 34, 34, 0.442);
    list-style: none;
   padding: 20px;
  }
  .gallery-card{
    display:flex;
    flex-direction:row;
    padding-top: 3%;  
      }
      .borde-card{
        display: inline;
        padding: 20px;
        background-color: black;
    width: 99%;  
    }
  .card{
    display:inline-flex;
    gap: 10px 15px;
    padding: 50px 30px;
      padding: 20px;
  /* grid-area: 20px;*/
  }
  .gallery-card .card{
    
    justify-content: center;
    align-items: flex-start;
    width: 500px;
    height: 600px;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 3px 8px #c6c4c4;
    transition: 0.5s;
  }
  
  .card img{
    top:0px;
    width: 450px;
    height: 550px;
    border-radius: 32px;
    overflow: hidden;
  transition: 0.5s;
  text-decoration: none;
  }
  
  .card img:hover {
    bottom: 50px;
    scale: .90;
    box-shadow: 0 5px 15px #8587eead;
  }
